footer {
    padding: 10px 0;
    margin-top: 40px;
    font-size: 2rem;
    background-color: black;
    color: $footerColor;
    text-align: center;

    a{
         color: $footerColor;
    }
}

// remove hover for mobile devices

@media (hover: hover) { 
    a:hover {
        color: $anchorHover;

    }
}
