//GLOBAL

//GLOBAL VARIABLES
$headingColor: #dfe0df;
$overlayText: #e1ce7a;
$buttonBackground: #dac293;
$bodyColor: #dfe0df;
$gameGridBackground: #dac293;
$imageBackgroundColor: white;
$footerColor: #dfe0df;
$anchorHover: #DF4C11;

//font variables
$bodyFont: "Open Sans", sans-serif;
$headingFont:  "Fredericka the Great", cursive;
$buttonFont: "Open Sans", sans-serif;


html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  
}

title {
    text-transform: uppercase;
}
.wrapper {
    max-width: 1050px;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .wrapper {
        width: 100%;
    }
}
