//IndexPage Styling

body {

    // creating radial gradient 
  background: #61502d;
  background: -webkit-radial-gradient(center, #61502d, #000000);
  background: -moz-radial-gradient(center, #61502d, #000000);
  background: radial-gradient(ellipse at center, #61502d, #000000);
  background-repeat: no-repeat;
  color: $bodyColor;
  font-family: $bodyFont;
}

main {
  min-height: 80vh;
}
/* SKIP LINK  */
.skipLink {
  position: absolute;
  left: -3000px;
  top: 10px;
  z-index: 999;
  background-color: #ffffff;
  color: #1f2022;
}

.skipLink:focus {
  left: 0;
}

//******** HEADER STYLING******** //

header {
//   padding: 20px 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: $imageBackgroundColor;
}

h1 {
  font-family: $headingFont;
  text-transform: uppercase;
  font-size: 9rem;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $headingColor;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-family: $bodyFont;
  margin: 10px 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 33px;
}

.lineBreak {
  display: block;
}

//******** GAME GRID STYLING******** //

.grid {
  background-color: $gameGridBackground;
  display: grid;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 40px 20px;
  min-width: 600px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 1px 4px 6px #0c0d0f;
  box-shadow: inset 0px 1px 4px 6px #0c0d0f;
  margin: 0 auto;
  perspective: 500px;
}

.gridOne {
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 100px;
}

.gridTwo {
  grid-template-columns: repeat(8, 80px);
  grid-auto-rows: 80px;
}

.gridThree {
  grid-template-columns: repeat(10, 70px);
  grid-auto-rows: 70px;
}

//******** CARDS STYLING******** //
.card {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.cardFace {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
  img {
    position: absolute;
    object-fit: cover;
  }
}

.cardFront {
  display: none;
}

.cardFront.visible {
  display: block;
}
.cardBack {
  transform: rotateY(180deg);
}

.card.visible .cardFront {
  transform: rotateY(-180deg);
}

.card.visible .cardBack {
  transform: rotateY(0);
}

.claw {
  display: none;
}
.claw.visible {
  display: inline;
}

// .card .faceFront {
//   visibility: visible;
//   transition: rotateY(0deg) 0.5s ease-in-out;
// }

// .card .faceFront:active {
//   transform: rotateY(180deg) 0.5s ease-in-out;
// }



//*********Difficulty level styling of form elements*********//


.playAndDifficulty {
  p {
    font-size: 2.2rem;
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0;
  }

  input[type="radio"],
  label {
    font-family: $buttonFont;
    letter-spacing: 2px;
    font-size: 1.7rem;
    text-transform: capitalize;
  }

 
}
.playAndDifficulty form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    margin-top: 20px;
  }
  .difficulty {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }

  .level {
    margin: 10px 20px;
  }
}

//*************GAME STATS STYLING ********//
.gameStats {
  display: flex;
  justify-content: space-around;
  p {
     
    font-family: $bodyFont;
    font-size: 2.2rem;
    font-style: normal;
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 5px;
    line-height: normal;
    text-align: center;
  
     #movesCount,
    #successCount {
        background-color: rgba(141, 138, 138, 0.507);
        padding: 0 5px ;
        border-radius: 7px;
    }
    
    }

    .timerStyle {
        background-color: rgba(141, 138, 138, 0.507);
        border-radius: 7px;
        span {
                background-color: none;
                 padding: 0 5px ;
        }
        }
}


.statsWrapper {
  width: 65%;
  margin: 0 auto;
}



// overlay for start & Win
//show ratings

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer; /* Add a pointer on hover */
  color: $overlayText;

    p {
        font-family: $bodyFont;
    }

  button {
    font-family: $bodyFont;
    padding: 15px;
  }
}

.overlay.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}


#gameOver {
  text-transform: uppercase;
  flex-direction: column;

  p {
    display: block;
    margin: 5px 0;
    padding: 0;
    font-size: 2rem;
  }
  button {
    font-family: $buttonFont;
    display: block;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    line-height: 0;
    background-color: $buttonBackground;
    text-transform: capitalize;
  }
}

.fa-caret-right {
  animation: shake 0.6s infinite alternate ease-in-out;
}

// ANIMATIONS FOR GO OVERLAY
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }

  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.5rem;
  }
}


// ANIMATONS FOR GO AGAIN BUTTON
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.4em);
  }
}


//*********START MEDIA QUERIES**********//

@media (max-width: 1120px) {
  .statsWrapper {
    width: 80%;
  }

  .grid {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(auto, 100px);
  }
  .gridOne {
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
  }

  .gridTwo {
    grid-template-columns: repeat(5, 80px);
    grid-auto-rows: 80px;
  }

  .gridThree {
    grid-template-columns: repeat(5, 70px);
    grid-auto-rows: 70px;
  }

  .statsWrapper {
    width: 65%;
  }
}


// FOR TABLETS

@media (max-width: 950px) {
  .statsWrapper {
    width: 80%;
  }
}


//FOR MOBILE PHONES

@media (max-width: 650px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 1.7rem;
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(auto, 70px);
    min-width: 300px;
    width: 100%;
  }
  .gridOne {
    grid-template-columns: repeat(4, 70px);
    grid-auto-rows: 70px;
  }
  .gridTwo {
    grid-template-columns: repeat(5, 70px);
    grid-auto-rows: 70px;
  }

  .statsWrapper {
    width: 80%;
  }

  .gameStats {
    p {
      font-size: 1.7rem;
      text-align: center;

      span {
        display: inline-block;
         

      }
    }
    #movesCount,
    #successCount,
    .timerStyle {
      display: inline-block;
       

    }
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  
 
}
@media (hover:none) {
      .card:hover {

  -webkit-box-shadow: 0px 0px 8px 5px #f7f7f7;
  box-shadow: 0px 0px 8px 5px #f7f7f7;
}
label:hover,
 input[type="radio"]:hover {
    cursor: pointer;
}
}

//CLEARING HOVER FOR MOBILE SCREENS
@media (hover: hover) {
  .card:hover {
    -webkit-box-shadow: 0px 0px 8px 5px #f7f7f7;
    box-shadow: 0px 0px 8px 5px #f7f7f7;
  }

  input[type="radio"]:hover,
  label:hover {
    cursor: pointer;
  }
}
