html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1050px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
  }
}

@font-face {
  font-family: 'jurassic';
  src: url("/assets/csnpwdtNFI.ttf") format("truetype");
}

body {
  background-color: #58635e;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: 100vh;
}

h2 {
  margin: 0px 0 55px 0;
  text-align: center;
  font-size: 1.4rem;
}

.lineBreak {
  display: block;
}

.grid {
  background-image: url("../assets/background.jpeg");
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1ce7a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 40px 20px;
  min-width: 600px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 1px 4px 6px #0C0D0F;
  box-shadow: inset 0px 1px 4px 6px #0C0D0F;
  margin: 0 auto;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.gridOne {
  -ms-grid-columns: (100px)[4];
      grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 100px;
}

.gridTwo {
  -ms-grid-columns: (80px)[8];
      grid-template-columns: repeat(8, 80px);
  grid-auto-rows: 80px;
}

.gridThree {
  -ms-grid-columns: (70px)[10];
      grid-template-columns: repeat(10, 70px);
  grid-auto-rows: 70px;
}

.card {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.cardFace {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.cardFace img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardFront {
  display: none;
}

.cardFront.visible {
  display: block;
}

.cardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card.visible .cardFront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.visible .cardBack {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px 5px #F7F7F7;
  box-shadow: 0px 0px 8px 5px #F7F7F7;
}

.claw {
  display: none;
}

.claw.visible {
  display: inline;
}

.card .faceBack {
  display: none;
}

.card .faceFront {
  visibility: visible;
  -webkit-transition: rotateY(0deg) 0.5s ease-in-out;
  transition: rotateY(0deg) 0.5s ease-in-out;
}

.card .faceFront:active {
  -webkit-transform: rotateY(180deg) 0.5s ease-in-out;
          transform: rotateY(180deg) 0.5s ease-in-out;
}

.playAndDifficulty p {
  font-size: 1.5rem;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
}

.playAndDifficulty input[type=radio], .playAndDifficulty label {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.playAndDifficulty form {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playAndDifficulty form p {
  margin-top: 20px;
}

.playAndDifficulty form .difficulty {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.playAndDifficulty form .level {
  margin: 10px 20px;
}

.gameStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gameStats p {
  font-family: serif;
  font-size: 1.4rem;
  font-style: normal;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
}

.statsWrapper {
  width: 60%;
  margin: 0 auto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
}

.faceDown {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: hidden;
}

.faceUp {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  visibility: visible;
}

h1 {
  font-family: serif;
  font-size: 5rem;
  width: 100%;
  margin: 0;
  padding: 20px 0 10px 0;
  text-align: center;
  color: black;
  font-weight: 200;
  font-style: normal;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  color: #e1ce7a;
  font-family: serif;
}

.overlay.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: overlay-grow 500ms forwards;
          animation: overlay-grow 500ms forwards;
}

@-webkit-keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.5rem;
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.5rem;
  }
}

#gameOver {
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gameOver p {
  display: block;
  margin: 5px 0;
  padding: 0;
  font-size: 1.5rem;
}

#gameOver button {
  display: block;
  font-size: 2rem;
}

.fa-caret-right {
  -webkit-animation: shake 0.6s infinite alternate ease-in-out;
          animation: shake 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.4em);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.4em);
  }
}

@media (max-width: 1120px) {
  .statsWrapper {
    width: 80%;
  }
  .grid {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (100px)[auto];
        grid-template-rows: repeat(auto, 100px);
  }
  .gridOne {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
  }
  .gridTwo {
    -ms-grid-columns: (80px)[5];
        grid-template-columns: repeat(5, 80px);
    grid-auto-rows: 80px;
  }
  .gridThree {
    -ms-grid-columns: (70px)[5];
        grid-template-columns: repeat(5, 70px);
    grid-auto-rows: 70px;
  }
  .statsWrapper {
    width: 65%;
  }
}

@media (max-width: 950px) {
  .statsWrapper {
    width: 80%;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.3rem;
    margin: 0 20px 40px 20px;
  }
  .grid {
    -ms-grid-columns: (70px)[4];
        grid-template-columns: repeat(4, 70px);
    -ms-grid-rows: (70px)[auto];
        grid-template-rows: repeat(auto, 70px);
    min-width: 300px;
    width: 90%;
  }
  .gridOne {
    -ms-grid-columns: (70px)[4];
        grid-template-columns: repeat(4, 70px);
    grid-auto-rows: 70px;
  }
  .gridTwo {
    -ms-grid-columns: (70px)[5];
        grid-template-columns: repeat(5, 70px);
    grid-auto-rows: 70px;
  }
  .gameStats {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gameStats p {
    font-size: 1.2rem;
    text-align: center;
  }
  .gameStats p .timer-text span {
    display: inline-block;
  }
}

footer {
  padding: 5px 0;
  margin-top: 40px;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  text-align: center;
}
